/* Coupang logo */
#coupang-logo {
  position: absolute;
  width: 246px;
  height: 56px;
  left: calc(50% - 246px / 2);
  top: calc(50% - 56px / 2 - 171px);
}

/* LoginForm */
.form-login {
  position: absolute;
  width: 576px;
  height: 386px;
  left: calc(50% - 576px / 2);
  top: calc(50% - 386px / 2 + 56px + 50px);
}

/* Input email */
form .logo-email {
  position: relative;
  left: 0px;
}

form .input-email {
  position: absolute;
  width: 531px;
  height: 50px;
  left: 45px;

  border: 1px solid #cccccc;
  box-sizing: border-box;
}

/* Input Password */
form .logo-password {
  position: absolute;
  left: 0px;
  top: 70px;
}

form .input-password {
  position: absolute;
  width: 531px;
  height: 50px;
  left: 45px;
  top: 70px;

  /* light gray */
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

/* Auto Login */
form .check-auto-login {
  position: absolute;
  width: 275px;
  height: 24px;
  left: 0px;
  top: 142px;
}

form .auto-login-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #555555;
}

/* Find email or password */
form .find-email-or-password {
  position: absolute;
  width: 239px;
  height: 25px;
  left: 336.5px;
  top: 142px;
}

form .find-email-or-password-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #0074e9;
}

form .find-email-or-password-symbol {
  position: absolute;
  height: 16px;
  top: 4px;
}

/* Login button */
form .login-btn {
  position: absolute;
  width: 575px;
  height: 66px;
  left: 0;
  top: 209px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

/* hr */
form .hr-between-login-btn-join-btn {
  position: absolute;
  width: 575px;
  height: 1px;
  left: 0;
  top: 297px;
  margin: 0;

  background: #cccccc;
}

/* Join button */
form .join-btn {
  position: absolute;
  width: 575px;
  height: 66px;
  left: 0;
  top: 320px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #0074e9;
}
